<% include headerForUsers %>
	<div >
		
      
        	
       

  

	<div class="container-fluid addUser">
	<h1><%= title %></h1>
	
	<form method="post">
		<label>
			<p>Як вас звуть?</p>
			<input type="type" name="name">
		</label>
		<br>
		<label>
			<p>Введіть ваш логін</p>
			<input type="type" name="login">
		</label>
		<br>
		<label>
			<p>Введіть ваш пароль</p>
			<input type="password" name="pass">
		</label>
		<br>
		<p>
			<button class="button" type="submit">Надіслати</button>
		</p>
		<div>
        	 <a href="/" class="cst-btn">На головну</a>
        </div>
	</form>

  
	</div>

	</div>
	
<% include footerForUsers %>
