<% include headerForUsers %>
<div class="error">      
	<p>
		
		У вас недостатньо прав для перегляду цієї сторінки або ви не зареєстровані.

	</p>
	<div>
		<a href="/login" class="cst-btn" type="submit">Вхід</a>	
	</div>
	
</div> 
<script>
	
	setTimeout(function(){ window.location = "/"; }, 5000);
</script>
<% include footerForUsers %>  


