
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Login/Sign-In</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
  <link rel=icon href=images/favicon.png sizes="16x16" type="image/png">
  <link rel="stylesheet" href="css/style.css">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet">
  <link rel=icon href=images/favicon.png sizes="16x16" type="image/png">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/normalize.min.css">    
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/animate.css">
  <link rel="stylesheet" href="css/templatemo_misc.css">
  <link rel="stylesheet" href="css/templatemo_style.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="js/vendor/modernizr-2.6.2.min.js"></script>

  
</head>

<body>

  <div class="logmod">

    <div class="logmod__wrapper">
      <div class="logmod__container">
        <ul class="logmod__tabs">
          <li data-tabtar="lgm-2">
            <a href="#">Login</a>
          </li>
        </ul>
        <a href="/">
          <ul class="logmod__tabs2">
            <li>на головну</li>
          </ul>
        </a>
        <a href="/adduser">
          <ul class="logmod__tabs2">
            <li>зареєструватись</li>
          </ul>
        </a>
        <div class="logmod__tab-wrapper">





          <div class="logmod__tab lgm-2">
            <div class="logmod__heading">
              <span class="logmod__heading-subtitle">Enter your email and password <strong>to sign in</strong></span>
            </div> 
            <div class="logmod__form">
              <form accept-charset="utf-8" action="/admin" class="simform" method="POST">
                <div class="sminputs">
                  <div class="input full">
                    <label class="string optional" for="user-name">Email*</label>
                    <input class="string optional" maxlength="255" id="user-email" placeholder="Email" type="type" name="login" size="50" />
                  </div>
                </div>
                <div class="sminputs">
                  <div class="input full">
                    <label class="string optional" for="user-pw">Password *</label>
                    <input class="string optional" maxlength="255" id="user-pw" placeholder="Password" type="password" name="pass" size="50" />
                    <span class="hide-password">Show</span>
                  </div>
                </div>
                <div class="simform__actions">
                  <button class="sumbit" type="submit">Надіслати</button>
                  <span class="simform__actions-sidetext"><a class="special" role="link" href="#">Forgot your password?<br>Click here</a></span>
                </div> 
              </form>
            </div> 
            
          </a>

        </div>
      </div>
    </div>
  </div>

</div>
</div>

</div>