

<div class="toggle-content text-left" id="tab5">
    <h3>Залучені організації</h3>

    <h5>Туризм</h5>
    <table>
        <tr>
          <th colspan="2" class="orgName" >Організація</th>
          <th class="colums" >Контакти</th>
          <th class="colums" >Прямий звязок</th>

      </tr>

      <tr>
          <td><img src="images/organization/datur.png"></td>
          <td> Туристичне агентство "ДАТУР" </td>
          <td class="colums" >Пирогова, 23-Б Вінниця <br>
          +3 8(067)4302829 </td>
          <td class="colums" ><a href="/chatt">Написати</a></td>

      </tr>
  </table>
  <br>
  <h5>Неурядові громадські організації</h5>
  <table>
    <tr>
      <th colspan="2"  class="orgName">Організація</th>
      <th class="colums" >Контакти</th>
      <th class="colums" >Прямий звязок</th>

  </tr>
  <tr>
      <td><img src="images/organization/pangeya.png"></td>
      <td>Центр розвитку "Пангея Ультіма"</td>
      <td class="colums" >
Івана Богуна, 2 (4th floor)
Вінниця <br>
+3 8(097)6402756, +3 8(063)8278324, 
<br>
+3 8(093)2305065, +3 8(093)1526904</td>
        <td class="colums" ><a href="/chatt">Написати</a></td>

  </tr>
</table>


</div>

